<% layout("layouts/boilerplate") %>
<h1><%= listing.title%></h1>
<div class="card mb-3">
  <img src="<%= listing.image %>" class="card-img-top" alt="listing-image" style="height: 30rem;">
  <div class="card-body">
    <p class="card-text description"><%= listing.description%></p>
    <p class="card-text"><small class="text-body-secondary">&#8377;<%= listing.price%></small></p>
    <p class="card-text"><small class="text-body-secondary"><%= listing.location%></small></p>
    <p class="card-text"><small class="text-body-secondary"><%= listing.country%></small></p>
    <a href="/listing/<%= listing._id%>/edit" class="btn text-body-secondary">Edit</a>
    <a href="#" class="btn text-body-secondary">Delete</a>
  </div>
</div>