<% layout("layouts/boilerplate") %>
<h1><%= listing.title%></h1>
<div class="card mb-3" style="border: none;">
  <img src="<%= listing.image %>" class="card-img-top" alt="listing-image" style="height: 30rem;">
  <div class="card-body">
    <p class="card-text"><i><%= listing.owner.username%></i></p>
    <p class="card-text description"><%= listing.description%></p>
    <p class="card-text"><small class="text-body-secondary">&#8377;<%= listing.price%></small></p>
    <p class="card-text"><small class="text-body-secondary"><%= listing.location%></small></p>
    <p class="card-text"><small class="text-body-secondary"><%= listing.country%></small></p>
    <% if( currUser && currUser._id.equals(listing.owner._id)){ %>
    <div class="show-buttons">
      <a href="/listings/<%= listing._id%>/edit" class="btn text-body-secondary">Edit</a>
      <form  method="post" action="/listings/<%= listing._id%>?_method=DELETE"><button class="btn text-body-secondary">Delete</button></form>
    </div>
    <% } %>
    <% if( currUser ){ %>
    <div class="review col-8" >
      <h1 class="mb-3">Leave a Review</h1>
      <form method="post" action="/listings/<%= listing._id%>/reviews" novalidate class="needs-validation">
        <div class="mt-3 mb-3" >
          <label class="form-label" for="rating">Rating:</label>
          <input class="form-range" type="range" min="1" max="5" id="rating" name="review[rating]">
        </div>
        <div class="mt-3 mb-3" >
          <label class="form-label">Add Comment:</label>
          <textarea required class="form-control" name="review[comment]" style="height: 100px;"></textarea>
          <div class="invalid-feedback">Please Add a comment for review</div>
        </div>
        <button class="btn" type="submit">Submit</button>
      </form>
    </div>
    <% } %>
    <div class="reviews">
      <div class="card">
        <h5 class="card-header">Reviews</h5>
        <% for(const review of listing.reviews){ %>
          <div class="card-body">
             <h5 class="card-title"><%= review.comment%></h5>
             <% for (let i = 1; i<= review.rating; i++) {%>
              <i class="fa-solid fa-star"></i>
             <% } %>
              <p class="card-text"><i><%= review.author.username%></i></p>
             <% if(currUser) {%>
               <form method="post" action="/listings/<%= listing._id%>/reviews/<%= review._id%>?_method=DELETE"><button class="btn text-body-secondary" type="submit">Delete</button></form>
             <% } %> 
          </div>
        <% } %>
        </div>
    </div>
  </div>
</div>